body{
	background-image: url(fond.png); 
}


header{
	text-align: center;
}

.logo-esme img
{
	position: absolute;
	width:9%;
	height:14%;
	right: 1%;
	top: 3%;
	opacity: 0.5;
	
}

.logo-ginger img
{
	position: absolute;
	width:15%;
	height:14%;
	left: 1%;
	top: 3%;
	
}

.intro
{
	color: black;
}

a{
	text-decoration:none;
	color: black;
}

a:hover{
	color:#7D274D;
}

.pro{	
	background-color: #FBB95F;
	border: solid 2px black;
	border-radius: 10px;
	box-shadow: 8px 8px 2px 1px #7D274D;
	position :absolute;
	margin-left: 60%;
	margin-top:7%;

}

.etudiant{
	background-color: #FBB95F;
	border: solid 2px black;
	border-radius: 10px;
	box-shadow: 8px 8px 2px 1px #7D274D;
	margin-left :20%;
	margin-top:7%;
}

p
{
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}


.milieu
{
	text-align: center;
	font-size: 190%;
}

body
{
	text-align: center;
}

footer
{
	position: absolute;
	text-align: center;
	width: 98%;
	font-family: "Times New Roman";
	font-family: italic;
	font-weight: bold;
	font-size: 60%;
	margin-bottom: 10%;
	margin-top: 31%;
}