header {
	text-align: center;

}

title {
	text-align: justify;
}

footer
{
	position: absolute;
	text-align: center;
	width: 98%;
	font-family: "Times New Roman";
	font-family: italic;
	font-weight: bold;
	font-size: 60%;
	margin-bottom: 0.1%;
	margin-top :21%;
}

input {

}

body{
	background-image: url(fond.png); 
	text-align: center;
}

.logo-esme img
{
	position: absolute;
	width:5%;
	height:8%;
	right: 1%;
	top: 3%;
	opacity: 0.8;
	
}


.logo-ginger img
{
	position: absolute;
	width:15%;
	height:14%;
	left: 1%;
	top: 3%;
	
}


.insta img
{
	position: absolute;
	width:4%;
	height:100%;
	left: 1%;
	top: 1%;
}

.link img
{
	position: absolute;
	width:4%;
	height:100%;
	right: 5%;
	top: 1%;
}

.fb img
{
	position: absolute;
	width:4%;
	height:100%;
	left: 5%;
	top: 1%;
}

.snap img
{
	position: absolute;
	width:4%;
	height:100%;
	right: 1%;
	top: 1%;
}

input {
	background-color: #FBB95F;
	border: none;
	font-weight: bold;
	border-bottom : 1px solid #7D274D;
}

textarea{
	background-color:#FBB95F;
	border-color: #7D274D;
	font-weight: bold;
}

label{
	font-weight: bold;
}

section {
	
	border-radius: 10px;
	background-color: #FBB95F;
	margin-left: 30%;
	margin-right: 30%;
	opacity: 0.7;
	box-shadow: 8px 8px 2px 1px #7D274D;
	text-align: center;
	padding-bottom: 0.1%;
	padding-top: 0.1%;
	margin-bottom: 2%;
}


